@import '../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
  font-family: 'CircularStd', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #282c34;
  display: flex;
  color: #f0f0f0;
  flex: 1 0 auto;
  flex-direction: column;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}