$spaceColor: #15161e;

.cont {
  border-radius: 4px;
  margin: 0 auto;
  // height: 18rem;
  width: 22rem;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.space {
  background: $spaceColor url('./backgrounds/space.png');
}