.btn {
  background-color: transparent;
  border: 0;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 0.5rem;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  background-size: contain;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.ore {
  background-image: url('./imgs/ore.png');
}

// Used for rotating and image, but having issues with div
// @for $i from 1 through 30 {
//   $speed: ($i * 10 + 80s);

//   .speed-#{$i} {
// 		animation: rotation $speed infinite linear;
// 	}
  
//   .speed-#{$i}-rev {
// 		animation: revRotation $speed infinite linear;
// 	}
// }

// @keyframes rotation {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(359deg);
//   }
// }

// @keyframes revRotation {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(-359deg);
//   }
// }