.btn {
  background-image: url('./imgs/ship.png');
  background-color: transparent;
  border: 0;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 0.5rem;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  background-size: 50%;             
  background-repeat: no-repeat;
  background-position: center center;
}
