.cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 1rem;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  width: 100%;
  
  .upBtn { grid-area: 1 / 2 / 2 / 3; }
  .leftBtn { grid-area: 2 / 1 / 3 / 2; }
  .rightBtn { grid-area: 2 / 3 / 3 / 4; }
  .downBtn { grid-area: 3 / 2 / 4 / 3; }
  .deployBtn { grid-area: 2 / 2 / 3 / 3; }
}

.dir {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 0.5rem;
  height: 100%;
  width: 100%;
  
  img,
  .placeholder {
    height: 2rem;
    width: 2rem;
  }
  
  &:focus {
    fill: #fbd8ff;
    outline: 0;
  }
  
  &:disabled {
    background: transparent;
    opacity: 0.05;
  }
}

.left {
  transform: rotate(-90deg);
}

.right {
  transform: rotate(90deg);
}

.down {
  transform: rotate(180deg);
}